.mypage-container {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  position: relative; /* 자식 요소 위치 지정 기준 */
  padding: 20px 20px 40px 20px; /* 아래로 40px, 오른쪽으로 20px 여백 추가 */
}

.user-layout {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: 340px; /* 신분증 크기 제한 */
  border: 2px solid var(--highColor); /* 윤곽선 */
  border-radius: 10px; /* 둥근 꼭지점 */
  background-color: white; /* 배경 흰색 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 살짝 그림자 추가 */
}

.user-profile {
  width: 100px;
  height: 100px;
  background-color: var(--subColor); /* 보조색 */
  border-radius: 50%; /* 동그랗게 */
  border: 2px solid var(--highColor); /* 강조색 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-type {
  font-size: 16px;
  font-weight: bold;
  color: var(--highColor); /* 강조색 */
  position: absolute;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 5px; /* 각 줄 간 간격 */
}

.user-nickname {
  font-size: 30px;
  font-weight: bold;
  color: var(--mainColor2); /* 주색2 */
}

.user-money {
  font-size: 20px;
  color: var(--highColor); /* 강조색 */
}

.user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; /* 버튼 간 간격 */
}

.user-edit {
  padding: 5px 10px;
  font-size: 18px;
  background-color: var(--mainColor1); /* 주색1 */
  color: var(--highColor); /* 보조색 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-edit:hover {
  background-color: var(--highColor); /* 강조색 */
  color: var(--subColor);
}

.user-transaction {
  width: 40px;
  height: 40px;
  background-image: url("../../images/sp_main.png");
  background-position: -299px -313px; /* 입출금 아이콘의 위치 */
  background-color: var(--mainColor2);
  background-size: 559px;
  background-repeat: no-repeat;
  border-radius: 50%; /* 동그란 버튼 */
  border: none;
  cursor: pointer;
}

.user-chat {
  width: 40px;
  height: 40px;
  background-image: url("../../images/sp_main.png");
  background-position: -118px -381px; /* 채팅 아이콘의 위치 */
  background-color: var(--mainColor2);
  background-size: 559px;
  background-repeat: no-repeat;
  border-radius: 50%; /* 동그란 버튼 */
  border: none;
  cursor: pointer;
}

.user-transaction:hover,
.user-chat:hover {
  background-color: var(--highColor); /* 강조색 */
}

.transaction-box {
  position: absolute;
  top: 100px;
  left: 500px;
  width: 345px;
  height: 305px;
  background-color: white;
  border: 2px solid var(--highColor);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 100;
}

.transaction-title {
  font-size: 40px;
  color: var(--highColor);
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.account-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 30px;
  border: 1px solid var(--highColor);
  border-radius: 5px;
  box-sizing: border-box;
}

.amount-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.amount-toggle-button {
  padding: 5px 10px;
  font-size: 20px;
  color: var(--subColor);
  background-color: var(--highColor);
  border: 1px solid var(--highColor);
  border-radius: 5px;
  cursor: pointer;
}

.amount-toggle-button:hover {
  background-color: var(--highColor);
}

.amount-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.amount-input {
  flex-grow: 1;
  border: none;
  border-bottom: 2px solid var(--highColor);
  font-size: 20px;
  height: 34px;
  outline: none;
  background-color: transparent;
}

.currency {
  font-size: 20px;
  color: var(--highColor);
}

.transaction-action {
  margin-top: 20px; /* 위쪽 간격 */
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--highColor); /* 기본값 입금 버튼 색상 */
  color: white; /* 흰색 폰트 */
  display: block; /* 블록 요소로 설정 */
  width: 100px; /* 버튼 크기 고정 */
  margin-left: auto; /* 왼쪽 여백 자동으로 설정 */
  margin-right: auto; /* 오른쪽 여백 자동으로 설정 */
}

.transaction-action:hover {
  background-color: rgba(0, 0, 0, 0.2); /* 투명도 0.2의 검정 배경 */
  color: white; /* 글씨는 흰색 유지 */
}