.signup-container {
  max-width: 400px;
  margin: 150px auto 0 auto;
  padding: 20px;
  border: 1px solid var(--highColor);
  border-radius: 10px;
  background-color: var(--subColor);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white; /* 보조색 */
}

.signup-title {
  text-align: center;
  font-size: 24px;
  color: var(--highColor);
  margin-bottom: 20px;
}

.signup-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.signup-type label {
  font-size: 16px;
  color: var(--highColor); /* 강조색 */
  margin-right: 10px; /* 간격 유지 */
}

.signup-options {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center;
  gap: 10px; /* 체크박스 간 간격 */
}

.signup-options label {
  margin-right: 10px; /* 체크박스 간격 조절 */
  font-size: 16px;
  color: var(--highColor);
}

.signup-field {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-between; /* 닉네임과 입력박스 간 공간 확보 */
  margin-bottom: 15px;
}

.signup-field label {
  font-size: 16px;
  color: var(--highColor);
  margin-right: 10px; /* 라벨과 입력박스 간 간격 */
}

.signup-field input {
  width: 280px; /* 비밀번호 확인 길이에 맞춤 */
  max-width: 100%; /* 최대 너비 제한 */
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--highColor);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--subColor); /* 보조색 */
}

.signup-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: var(--subColor);
  background-color: var(--mainColor2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: var(--highColor);
}

.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
}
