.main-container {
  display: flex;
  justify-content: center; /* 컨테이너를 화면 중앙 정렬 */
  margin-top: 30px; /* 상단에서 30px 내려옴 */
}

.banner-container {
  width: 1000px; /* 배너와 동일한 가로 크기 */
  display: flex;
  flex-direction: column; /* 배너와 버튼을 수직 정렬 */
  align-items: flex-end; /* 버튼을 오른쪽 끝으로 정렬 */
  position: relative;
}

.banner-box {
  width: 100%;
  height: 250px;
  border: 2px solid var(--highColor); /* 윤곽선 추가 */
  background-image: url("../../images/banner.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--subColor); /* 기본 배경색 추가 (선택 사항) */
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* 버튼을 오른쪽 끝으로 정렬 */
  margin-top: 10px; /* 배너와 버튼 사이 간격 */
}

.special-button {
  position: absolute;
  right: 10px;
  bottom: -50px;
  padding: 10px 20px;
  background-color: var(--mainColor2);
  color: var(--subColor);
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.special-button:hover {
  background-color: var(--highColor);
  color: var(--subColor);
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.white-box {
  width: 200px;
  height: 100px;
  background-color: white;
  border: 1px solid var(--highColor);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}